In [1]:
import pandas as pd
import datetime as dt

In [2]:
# Load the Excel sheets into DataFrames
features_df = pd.read_csv('/Users/anithasmac/PycharmProjects/FinalProject/Data/Features_data_set.csv')
sales_df = pd.read_csv('/Users/anithasmac/PycharmProjects/FinalProject/Data/sales_data_set.csv')
stores_df = pd.read_csv('/Users/anithasmac/PycharmProjects/FinalProject/Data/stores_data_set.csv')

## Features dataframe

In [3]:
features_df.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

In [4]:
features_df.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [5]:
features_df.isnull().sum()/len(features_df)*100

Store            0.000000
Date             0.000000
Temperature      0.000000
Fuel_Price       0.000000
MarkDown1       50.769231
MarkDown2       64.334554
MarkDown3       55.885226
MarkDown4       57.704518
MarkDown5       50.549451
CPI              7.142857
Unemployment     7.142857
IsHoliday        0.000000
dtype: float64

In [6]:
# Convert 'Date' to datetime format
features_df['Date'] = pd.to_datetime(features_df['Date'], format='%d/%m/%Y')

In [7]:
features_df.dtypes

Store                    int64
Date            datetime64[ns]
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
IsHoliday                 bool
dtype: object

### Impute with Zero

In [8]:
features_df[['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']] = features_df[['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']].fillna(0)

### Time series interpolation

In [9]:
# Set 'Date' as the index
features_df.set_index('Date', inplace=True)

In [10]:
features_df['CPI'] = features_df['CPI'].interpolate(method='time')
features_df['Unemployment'] = features_df['Unemployment'].interpolate(method='time')

In [11]:
# Reset the index
features_df.reset_index(inplace=True)

In [12]:
features_df.isnull().sum()

Date            0
Store           0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday       0
dtype: int64

In [13]:
features_df

,Date,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,2010-02-05,1,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
1,2010-02-12,1,38.51,2.548,0.00,0.00,0.00,0.00,0.00,211.242170,8.106,True
2,2010-02-19,1,39.93,2.514,0.00,0.00,0.00,0.00,0.00,211.289143,8.106,False
3,2010-02-26,1,46.63,2.561,0.00,0.00,0.00,0.00,0.00,211.319643,8.106,False
4,2010-03-05,1,46.50,2.625,0.00,0.00,0.00,0.00,0.00,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,2013-06-28,45,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,193.589304,8.335,False
8186,2013-07-05,45,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,193.589304,8.335,False
8187,2013-07-12,45,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,193.589304,8.335,False
8188,2013-07-19,45,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,193.589304,8.335,False
8189,2013-07-26,45,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,193.589304,8.335,False

In [14]:
features_df.shape

(8190, 12)

## Sales dataframe

In [15]:
sales_df.dtypes

Store             int64
Dept              int64
Date             object
Weekly_Sales    float64
IsHoliday          bool
dtype: object

In [16]:
#Change the datatype
sales_df['Date'] = pd.to_datetime(sales_df['Date'], format='%d/%m/%Y')

In [17]:
sales_df.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [18]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2)
memory usage: 13.3 MB

In [19]:
sales_df

        Store  Dept       Date  Weekly_Sales  IsHoliday
0           1     1 2010-02-05      24924.50      False
1           1     1 2010-02-12      46039.49       True
2           1     1 2010-02-19      41595.55      False
3           1     1 2010-02-26      19403.54      False
4           1     1 2010-03-05      21827.90      False
...       ...   ...        ...           ...        ...
421565     45    98 2012-09-28        508.37      False
421566     45    98 2012-10-05        628.10      False
421567     45    98 2012-10-12       1061.02      False
421568     45    98 2012-10-19        760.01      False
421569     45    98 2012-10-26       1076.80      False

[421570 rows x 5 columns]

## Stores dataframe

In [20]:
stores_df.dtypes

Store     int64
Type     object
Size      int64
dtype: object

In [21]:
stores_df.isnull().sum()

Store    0
Type     0
Size     0
dtype: int64

In [22]:
# Merge Sales with Features
merged_df = pd.merge(sales_df, features_df, on=['Store', 'Date', 'IsHoliday'], how='left')

# Merge the result with Stores
data = pd.merge(merged_df, stores_df, on='Store', how='left')

In [23]:
data.head(10)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,A,151315
5,1,1,2010-03-12,21043.39,False,57.79,2.667,0.0,0.0,0.0,0.0,0.0,211.380643,8.106,A,151315
6,1,1,2010-03-19,22136.64,False,54.58,2.720,0.0,0.0,0.0,0.0,0.0,211.215635,8.106,A,151315
7,1,1,2010-03-26,26229.21,False,51.45,2.732,0.0,0.0,0.0,0.0,0.0,211.018042,8.106,A,151315
8,1,1,2010-04-02,57258.43,False,62.27,2.719,0.0,0.0,0.0,0.0,0.0,210.820450,7.808,A,151315
9,1,1,2010-04-09,42960.91,False,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,A,151315

In [24]:
data.shape

(421570, 16)

In [25]:
data.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
Type            0
Size            0
dtype: int64

In [26]:
# Convert appropriate columns to datetime format 
data['Date'] = pd.to_datetime(data['Date'])

In [27]:
# Extract year, month and week from 'Date'
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Week'] = data['Date'].dt.isocalendar().week

# Drop the original 'Date' column
data = data.drop('Date', axis=1)

In [28]:
data.to_csv('Final_data.csv', index=False)